<div class="mainpage">
<div class="center">
<h1 id="title">Editing guest</h1>
</div>
<div class="clear">&nbsp;</div>

<%= render 'form' %>

<%= link_to 'Show', @guest %> |
<%= link_to 'Back', guests_path %>
</div>