<div class="mainpage">
<div class="center">
<h1 id="title">Guest Information</h1>
</div>
<div class="clear">&nbsp;</div>
<h2>No guests match the criteria.</h2>
<%= link_to 'Back', guests_path %>
</div>